.forecast {
    flex: 1;
    overflow: auto;
    padding: 5px;
}

.forecastItem {
    padding: 15px;
    background-color: rgba(0,0,0,0.2);
    margin-bottom: 5px;
}

.forecastTable {
    width: 100%;
}