.App {
  display: flex;
  flex-direction: row;
  height: 100vh;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
.leftCol {
  width: 250px;
  color: #fff;
  background: #2F3A4C;
  display: flex;
  flex-direction: column;
}

.rightCol {
  flex: 1;
}
